@import url(https://fonts.googleapis.com/css?family=Lato:100,300,900);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css);

:root {
  --background-color: #ffffff;
  --blog-link-display: block;
  --body-font-size: 1.1rem;
  --body-padding: 0.75rem;
  --border-color: #dae1e7;
  --entries-grid-template-columns: 1fr;
  --entries-secondary-column: 1;
  --entries-grid-row-gap: 1rem;
  --grid-item-margin-left: 0;
  --header-font-size-ratio: 2;
  --header-margin-bottom: 1rem;
  --link-color: #428bca;
  --link-hover-color: #f0ad4e;
  --text-color: 0, 0, 0;
  --text-light-color-opacity: 0.6;
  --text-light-color: rgba(var(--text-color), var(--text-light-color-opacity));
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000000;
    --text-color: 255, 255, 255;
    --text-light-color-opacity: 0.88;
    --link-color: #7fa5c7;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --header-font-size-ratio: 5;
  }
}

@media screen and (min-width: 992px) {
  :root {
    --blog-link-display: inline;
    --entries-grid-row-gap: 2rem;
    --entries-grid-template-columns: 1fr 1fr;
    --entries-secondary-column: 2;
    --grid-item-margin-left: 3rem;
    --body-padding: 2.75rem 0.75rem;
  }

  #tldr-skills {
    grid-row: 1;
    grid-column: 1;
  }
}

html {
  background-color: var(--background-color);
  color: rgb(var(--text-color));
}

body {
  font: 400 var(--body-font-size)/1.5em 'Lato', sans-serif;
  margin: 0;
  padding: var(--body-padding);
}

h1, h2 {
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
}

h1 a {
  color: var(--text-color);
  text-decoration: none;
}

header {
  text-align: center;
  margin-bottom: var(--header-margin-bottom);
}

header h1 {
  font-size: calc(var(--header-font-size-ratio) * var(--body-font-size));
  font-weight: 900;
  display: inline-block;
  line-height: 1.5;
}

header span {
  color: var(--text-light-color);
  font-size: calc(var(--header-font-size-ratio) * 3 / 5 * var(--body-font-size));
  font-weight: 100;
  text-transform: uppercase;
  white-space: nowrap;
}

main h1 {
  border-bottom: solid 1px var(--border-color);
  margin-bottom: 1.5rem;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
  transition: color .3s ease-in-out;
}

footer {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.entries-grid {
  display: grid;
  grid-template-columns: var(--entries-grid-template-columns);
  grid-column-gap: 2em;
  grid-row-gap: var(--entries-grid-row-gap);
  margin: 2.1rem 0 2.1rem var(--grid-item-margin-left);
}

.entries-grid p {
  margin-top: 0;
}

.entries-grid p:last-child {
  margin-bottom: 0;
}

#blog li a {
  display: var(--blog-link-display);
}

#container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  width: 100%;
}

#product-highlights i {
  font-size: 160%;
  color: var(--text-light-color);
}

#tldr-leisure {
  grid-column: var(--entries-secondary-column);
}

#tldr-tech {
    grid-row: 1;
    grid-column: var(--entries-secondary-column);
}

#tldr-tech i {
  font-size: 300%;
}

#tldr-tech i:not(:last-child) {
  font-size: 300%;
  margin-right: 1rem;
}
